body {
    background-color: white; 
    background-image: url('ramka (1).gif'); 
    background-repeat: repeat-y; 
    background-position: left top; 

}

h4 {
    font-size: 1.5em; 
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 100px; 
}

.block-title {
    font-style: italic; 
}

p {
    text-indent: 15px; 
}

#block-internet, #block-technology {
    position: absolute; 
    padding: 10px; 
    border: double 5px red; 
    top: 100px; 
    height: 120%; 
    overflow: auto; 
}

#block-internet {
    width: 600px; 
    left: 50px;
     
    background-image: url('bg_menu (1).gif'); 
    background-repeat: repeat-x; 
    background-position: center; 
    background-color: #FFEAD9;
}



#block-technology {
    width: 400px; 
    left: 630px; 
    margin-left: 20px; 
    
    background-image: url('bg_menu (1).gif'); 
    background-repeat: no-repeat; 
    background-position: top; 
    background-attachment: fixed; 
    
    background-color: #FFEAD9;
}